@use 'base/variables' as v;
@use 'base/mixins' as m;


.nuestro-menu{
    background-image: url(../img/menu_arriba.svg), url(../img/menu_abajo.svg), linear-gradient(to top, v.$primario, v.$primario); //background-image:tambien nos permite colocar colores
    background-repeat: no-repeat;
    background-position: center 5rem,center 96%, 100%; //el 100% es para el linear-gradient, que ocupe el 100%
    background-size: 200%;
    padding: 15rem 2rem 20rem 2rem;


    @include m.tablet { 
        padding: 15rem 0 20rem 0;
        background-size: 100%;
    }

    @include m.desktop { 
        background-size: 50%,50%,100%; // 50% primera imagen, 50% segunda imagen y 100% el color(linear-gradient)
    }
}

.grid-menu{
   
    @include m.tablet { 
        @include m.grid(2,4rem);
    }
}

.menu{
    h3{
        color: v.$blanco;
        margin: 0
    }
        li{
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 1.5rem;
            p{
                color: v.$blanco;
                font-size: 2.2rem;
                line-height: 1.5;
                margin: 0 0 2rem 0;
                span{
                    display: block;  //aca hago un salto de linea
                    color: v.$secundario;
                    margin: 2;
                }
            }
            .precio{
                font-size: 4rem;
                font-weight: 700;
            }
        }

}